.main{
    background: rgb(40, 76, 66);
}

.imageVinil{
    margin: 1.22em;
    border: 1px solid black;
    border-radius: 5px;
    display: inline-block;
}

.image img{
    height: 220px;
    width: 220px;
}

.info{
    padding: 1em;
    background: rgb(200, 177, 140);
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

p{
    font-weight: 600;
}




